apiVersion: v1
kind: Service
metadata:
  name: superai-app
  namespace: eco-superai
  labels:
    app.kubernetes.io/name: superai-platform
    app.kubernetes.io/component: app
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: superai-platform
    app.kubernetes.io/component: app
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
    - name: metrics
      port: 9090
      targetPort: http
      protocol: TCP
  sessionAffinity: None
---
apiVersion: v1
kind: Service
metadata:
  name: superai-app-headless
  namespace: eco-superai
  labels:
    app.kubernetes.io/name: superai-platform
    app.kubernetes.io/component: app
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app.kubernetes.io/name: superai-platform
    app.kubernetes.io/component: app
  ports:
    - name: http
      port: 8000
      targetPort: http
      protocol: TCP