---
apiVersion: v1
kind: Service
metadata:
  annotations:
    eco-base/audit-log-level: minimal
    eco-base/governance-policy: standard-v1
    eco-base/uri: eco-base://k8s/core/service/aep-engine-service
    eco-base/urn: urn:eco-base:k8s:core:service:aep-engine-service:sha256-0bcd9d1b7d99e190c84ba1c53235bd24a9d53d863882d132e7971e6c93b2ec55
  labels:
    app.kubernetes.io/app.kubernetes.io/component: engine
    app.kubernetes.io/component: eco-component
    app.kubernetes.io/instance: eco-instance
    app.kubernetes.io/name: aep-engine
    app.kubernetes.io/part-of: machine-native-ops
    app.kubernetes.io/version: 1.0.0
    eco-base/environment: development
    eco-base/governance: aligned
    eco-base/owner: eco-system
    eco-base/part-of: eco-base
    eco-base/platform: core
    governance.machinenativeops.io/charter-version: 2.0.0
  name: aep-engine-service
  namespace: platform-03
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  - name: metrics
    port: 9090
    protocol: TCP
    targetPort: metrics
  selector:
    app.kubernetes.io/name: aep-engine
  type: ClusterIP
