apiVersion: v1
kind: LimitRange
metadata:
  name: superai-limits
  namespace: eco-superai
  labels:
    app.kubernetes.io/name: superai-platform
spec:
  limits:
    - type: Container
      default:
        cpu: 500m
        memory: 512Mi
      defaultRequest:
        cpu: 100m
        memory: 128Mi
      max:
        cpu: "8"
        memory: 8Gi
      min:
        cpu: 10m
        memory: 32Mi
    - type: Pod
      max:
        cpu: "16"
        memory: 16Gi
    - type: PersistentVolumeClaim
      max:
        storage: 50Gi
      min:
        storage: 1Gi