name: Deploy GitHub Pages

on:
  push:
    branches: [main]
    paths:
      - "platforms/web/landing/**"
      - ".github/workflows/deploy-pages.yaml"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        run: |
          git clone --depth 1 https://github.com/${{ github.repository }}.git .
          git checkout ${{ github.sha }}

      - name: Prepare site
        run: |
          mkdir -p _site
          cp -r platforms/web/landing/public/* _site/
          echo "autoecoops.io" > _site/CNAME
          touch _site/.nojekyll

      - name: Upload artifact
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa  # v3.0.1
        with:
          path: _site

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e  # v4.0.5